.light {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: black;
  margin-bottom: 20px;
  display: inline-block;
}

#red {
background-color: red;
}
#yellow {
background-color: yellow;
}
#green {
background-color: green;
}

button {
  margin-bottom: 10px;
}
